[Unit]
Description=Minecraft Bedrock Server %I
After=network-online.target local-fs.target

[Service]
User=mc
Group=mc
WorkingDirectory=/data/jails/mc-1/%I
ExecStart=/bin/sh /data/jails/mc-1/saprolith/mcb -s %I start
ExecStop=/bin/sh  /data/jails/mc-1/saprolith/mcb -s %I stop
Type=forking
GuessMainPID=no
TimeoutStartSec=60
Restart=on-failure
RestartSec=5

NoNewPrivileges=true
PrivateDevices=true
MemoryDenyWriteExecute=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectKernelLogs=true
ProtectControlGroups=true
ProtectClock=true

ProtectSystem=full
ProtectHome=true
ReadOnlyDirectories=/lib
InaccessibleDirectories=/home
InaccessibleDirectories=/boot
InaccessibleDirectories=-/var
InaccessibleDirectories=-/media
ReadOnlyDirectories=/data
ReadWriteDirectories=/data/jails/mc-1/%I
InaccessibleDirectories=-/data/bak
InaccessibleDirectories=-/data/pub
InaccessibleDirectories=-/data/vmhome
InaccessibleDirectories=-/data/atpstuff

[Install]
WantedBy=multi-user.target
